html {
    height: 100vh;
}
body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 100vh;
}

.header>img{
    width: 100%;
}

.header>p{
    position: fixed;
    bottom: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-right: 10px;
}

.content>p{
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    
}

label{
    display: block;
    width: 100%;
    font-variant-caps: all-petite-caps;
    font-size: 1.2em;
}

input{
    display: flex;
    width: 80%;
    
    margin: 0 0 15px 0;
    border: 1px solid #E5E7EB;
}

.hidden{
    display: none;
    visibility: hidden;
}

button{
    display: flex;
    width: 30%;
    
    margin: 10px 0;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    background-color: #596D48;
    color: #fff;
    font-size: 1.1em;
}

form{
    box-shadow: 1px 1px 5px 1px #ccc;
    padding: 20px;
    font-size: 1em;
}

form>p{
    font-size: 1.5em;
    margin-bottom: 20px;
}



input:invalid:not(:focus) {
    border: 1px solid red;
}
  
input:invalid:required {
    
}
  
input:valid {
    border: 2px solid black;
}

:focus {
    box-shadow: 1px 1px 5px 1px #aaa;
    border: 2px solid #47c;
    outline: none;
}
```
```